/* GiftShop.css */

.gifticon-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: calc((100vh - 40px)/3); /* 높이를 화면의 높이에 맞춤 */
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5;
}

.gifticon-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
