.MyPost {
    padding: 2em;
    background-color: white;
  }
  
  .myPostTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .myPostTable thead {
    background-color: #f9f9f9;
  }
  
  .myPostTable th, .myPostTable td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .myPostTable tr:hover {
    background-color: #f0f0f0;
  }
  