.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    padding: 2rem;
}

.Form {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.Label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.TitleInput {
    width: 100%;
    padding: 15px 0;
    border-radius: 8px;
    border: 2px solid #ddd;
    font-weight: bold;
}

.ContentTextarea {
    width: 100%;
    height: 200px;
    padding: 10px 0;
    border-radius: 8px;
    border: 2px solid #ddd;
    font-weight: bold;
    resize: none;
}

.DropdownContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.SelectContainer {
    display: flex;
    justify-content: space-between;
}

/* Dropdown 스타일 */
.Select {
    width: 110px;
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #ddd;
    font-size: 16px;
}

/* 여기에 추가적인 스타일링을 적용할 수 있습니다. */


.Textarea {
    width: 100%;
    padding: 10px 0;
    border-radius: 8px;
    border: 2px solid #ddd;
}

.TextareaSmall {
    width: 92%;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid #ddd;
}

.ButtonContainer {
    display: flex;
    justify-content: flex-end; /* 버튼을 오른쪽으로 정렬 */
    align-items: flex-end; /* 버튼을 세로 중앙 정렬 */
    gap: 1px; /* 버튼 사이의 간격 조정 (원하는 크기로 조절) */
}

.AddButton, .DelButton {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    background-color: #52ffeb;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.ImgLabel {
    width: 30px;
    height: 30px;
    cursor: pointer;
    /* all: unset;
    padding: 5px;
    text-align: center;
    background-color: #d5d5d5;
    color: #333;
    font-weight: bold;
    border-radius: 10px;
    transition: opacity 0.2s;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center; */
}


