.nav_bar {
    position:relative;
    width: 100%;
    height: 50px;
    /* background-color: #c2c2c2; */
    margin: 0;
}

.MainIcon {
    
    top: 10%;
    width: 60px;
}

.nav {
    display: flex;
    width: 100%;
    /* background-color: #c2c2c2; */
    padding: 15px 0px;
    text-align: right;
    justify-content: space-around;
}

.NavMenu {
    color: #000000;
    margin: 5px;
    text-decoration: none;
}

.search input {
    width: 70%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 5px 0px #353535;
    padding: 5px;
    margin: 10px;
}




/* 햄버거 메뉴 */

/* 기존 스타일 코드... */

.hamburger_menu {
    position: absolute;
    top: 15%;
    right: 9%;
  }
  
  .hamburger_menu ul {
    list-style-type: none;
    background-color: #fff; /* 배경색은 원하는 색상으로 변경하세요 */
    border-radius: 5px;
  }
  
  .hamburger_menu ul li {
     padding: 10px;
  }
  
  .hamburger_menu ul li a {
     text-decoration:none; /* 링크 밑줄 제거 */
     color:black; /* 링크 색상 설정 */
  }

/* 햄버거 메뉴 끝 */